@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

span.logos > a > span {
  overflow: inherit !important;
}

.logo.next:hover {
  filter: drop-shadow(0 0 2em #36373f);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

@media (prefers-color-scheme: dark) {
  .logo.next:hover {
    filter: drop-shadow(0 0 2em #ffff);
  }
}

body {
  @apply dark:bg-black;
  @apply dark:text-white;
  @layer font-mont;
}


.stream-table {
  border-spacing: 0 15px;
}
.stream-table tr {
  border-radius: 20px;
}
stream-table tr td:nth-child(n+5),
stream-table tr th:nth-child(n+5) {
  border-radius: 0 .625rem .625rem 0;
}

stream-table tr td:nth-child(1),
stream-table tr th:nth-child(1) {
  border-radius: .625rem 0 0 .625rem;
}