
@font-face {
  font-family: 'GameTc';
  src: url("/fonts/GameTc-51MLx.otf");
}
@font-face {
  font-family: 'Dragon';
  src: url("/fonts/DragonHunter-9Ynxj.otf");
}

@font-face {
  font-family: 'PlayMe';
  src: url("/fonts/PlaymegamesReguler-2OOee.ttf");
}
.splashscreen{
  font-family:PlayMe;
  background-image: url('/bg/bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.text-404 p{
  letter-spacing: 1.5px;
  font-family:'Courier New', Courier, monospace;
}
.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

#greet-input {
  margin-right: 5px;
}